.mood {
    margin: 11px;
    display:inline-block;
  }
  
  .mood-image {
    width: 100%;
    object-fit: cover;
  }
  
  .mood-content {
    padding: 16px;
  }
  
  .mood-title {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  .mood-description {
    color: #555;
  }

  h1{
 font-size: 2rem;
 font-family: Georgia,serif;
 margin: 18px;
  }
  