
.view {
    margin: 11px;
    display:flexbox;
    width: 400px;
  }
  
  .view-image {
    width: 100%;
    object-fit: cover;
  }
  
  .view-content {
    padding: 16px;
  }
  
  .view-title {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  .view-description {
    color: #555;
  }